/*
 * Header
 */

@headerBgColor: #fff;
@logoContainerWidth: 500px;

/*
 * Navigation
 */

@navColor: #aaa;
@navActiveColor: rgba(61, 153, 145, 1);

@nav-font-font-family: futura-pt, sans-serif;
@nav-font-font-size: 13px;
@nav-font-font-style: normal;
@nav-font-font-weight: 600;
@nav-font-letter-spacing: 2px;
@nav-font-line-height: inherit;
@nav-font-text-decoration: none;
@nav-font-text-transform: uppercase;

.nav-font {
    font-family: @nav-font-font-family;
    font-size: @nav-font-font-size;
    font-style: @nav-font-font-style;
    font-weight: @nav-font-font-weight;
    letter-spacing: @nav-font-letter-spacing;
    line-height: @nav-font-line-height;
    text-decoration: @nav-font-text-decoration;
    text-transform: @nav-font-text-transform;
}

/*
 * Banner
 */

@bannerHeadingColor: rgba(255, 255, 255, 1);
@overlayColor: rgba(0, 0, 0, 0.3);
@bannerTextColor: rgba(255, 255, 255, 1);
@bannerButtonColor: rgba(54, 179, 168, 1);
@bannerButtonTextColor: rgba(255, 255, 255, 1);

@banner-heading-font-font-family: futura-pt, sans-serif;
@banner-heading-font-font-size: 68px;
@banner-heading-font-font-style: normal;
@banner-heading-font-font-weight: 700;
@banner-heading-font-letter-spacing: 4px;
@banner-heading-font-line-height: 1em;
@banner-heading-font-text-decoration: inherit;
@banner-heading-font-text-transform: uppercase;

.banner-heading-font {
    font-family: @banner-heading-font-font-family;
    font-size: @banner-heading-font-font-size;
    font-style: @banner-heading-font-font-style;
    font-weight: @banner-heading-font-font-weight;
    letter-spacing: @banner-heading-font-letter-spacing;
    line-height: @banner-heading-font-line-height;
    text-decoration: @banner-heading-font-text-decoration;
    text-transform: @banner-heading-font-text-transform;
}

@banner-text-font-font-family: adobe-garamond-pro, serif;
@banner-text-font-font-size: 24px;
@banner-text-font-font-style: italic;
@banner-text-font-font-weight: 400;
@banner-text-font-letter-spacing: 1px;
@banner-text-font-line-height: 1.5em;
@banner-text-font-text-decoration: inherit;
@banner-text-font-text-transform: none;

.banner-text-font {
    font-family: @banner-text-font-font-family;
    font-size: @banner-text-font-font-size;
    font-style: @banner-text-font-font-style;
    font-weight: @banner-text-font-font-weight;
    letter-spacing: @banner-text-font-letter-spacing;
    line-height: @banner-text-font-line-height;
    text-decoration: @banner-text-font-text-decoration;
    text-transform: @banner-text-font-text-transform;
}

@banner-button-font-font-family: futura-pt, sans-serif;
@banner-button-font-font-size: 15px;
@banner-button-font-font-style: normal;
@banner-button-font-font-weight: 600;
@banner-button-font-letter-spacing: 2px;
@banner-button-font-line-height: inherit;
@banner-button-font-text-decoration: none;
@banner-button-font-text-transform: uppercase;

.banner-button-font {
    font-family: @banner-button-font-font-family;
    font-size: @banner-button-font-font-size;
    font-style: @banner-button-font-font-style;
    font-weight: @banner-button-font-font-weight;
    letter-spacing: @banner-button-font-letter-spacing;
    line-height: @banner-button-font-line-height;
    text-decoration: @banner-button-font-text-decoration;
    text-transform: @banner-button-font-text-transform;
}

/*
 * Main Content
 */

@pageBgColor: rgba(255, 255, 255, 1);
@pageTextColor: rgba(26, 26, 26, 0.7);
@pageLinkColor: rgba(61, 153, 145, 1);
@pageMetaColor: rgba(26, 26, 26, 0.4);
@heading1Color: rgba(26, 26, 26, 0.9);
@heading2Color: rgba(74, 74, 74, 1);
@heading3Color: rgba(26, 26, 26, 0.9);
@quoteColor: #aaa;

@body-font-font-family: adobe-garamond-pro, serif;
@body-font-font-size: 18px;
@body-font-font-style: normal;
@body-font-font-weight: 400;
@body-font-letter-spacing: 0;
@body-font-line-height: 1.6em;
@body-font-text-decoration: inherit;
@body-font-text-transform: inherit;

.body-font {
    font-family: @body-font-font-family;
    font-size: @body-font-font-size;
    font-style: @body-font-font-style;
    font-weight: @body-font-font-weight;
    letter-spacing: @body-font-letter-spacing;
    line-height: @body-font-line-height;
    text-decoration: @body-font-text-decoration;
    text-transform: @body-font-text-transform;
}

@heading1-font-font-family: futura-pt, sans-serif;
@heading1-font-font-size: 32px;
@heading1-font-font-style: normal;
@heading1-font-font-weight: 400;
@heading1-font-letter-spacing: 0;
@heading1-font-line-height: 1.2em;
@heading1-font-text-decoration: inherit;
@heading1-font-text-transform: none;

.heading1-font {
    font-family: @heading1-font-font-family;
    font-size: @heading1-font-font-size;
    font-style: @heading1-font-font-style;
    font-weight: @heading1-font-font-weight;
    letter-spacing: @heading1-font-letter-spacing;
    line-height: @heading1-font-line-height;
    text-decoration: @heading1-font-text-decoration;
    text-transform: @heading1-font-text-transform;
}

@heading2-font-font-family: futura-pt, sans-serif;
@heading2-font-font-size: 22px;
@heading2-font-font-style: normal;
@heading2-font-font-weight: 400;
@heading2-font-letter-spacing: 2px;
@heading2-font-line-height: 1.2em;
@heading2-font-text-decoration: inherit;
@heading2-font-text-transform: uppercase;

.heading2-font {
    font-family: @heading2-font-font-family;
    font-size: @heading2-font-font-size;
    font-style: @heading2-font-font-style;
    font-weight: @heading2-font-font-weight;
    letter-spacing: @heading2-font-letter-spacing;
    line-height: @heading2-font-line-height;
    text-decoration: @heading2-font-text-decoration;
    text-transform: @heading2-font-text-transform;
}

@heading3-font-font-family: futura-pt, sans-serif;
@heading3-font-font-size: 16px;
@heading3-font-font-style: normal;
@heading3-font-font-weight: 600;
@heading3-font-letter-spacing: 2px;
@heading3-font-line-height: 1.2em;
@heading3-font-text-decoration: inherit;
@heading3-font-text-transform: uppercase;

.heading3-font {
    font-family: @heading3-font-font-family;
    font-size: @heading3-font-font-size;
    font-style: @heading3-font-font-style;
    font-weight: @heading3-font-font-weight;
    letter-spacing: @heading3-font-letter-spacing;
    line-height: @heading3-font-line-height;
    text-decoration: @heading3-font-text-decoration;
    text-transform: @heading3-font-text-transform;
}

@quote-font-font-family: adobe-garamond-pro, serif;
@quote-font-font-size: 27px;
@quote-font-font-style: italic;
@quote-font-font-weight: 400;
@quote-font-letter-spacing: 0;
@quote-font-line-height: 1.65em;
@quote-font-text-decoration: inherit;
@quote-font-text-transform: inherit;

.quote-font {
    font-family: @quote-font-font-family;
    font-size: @quote-font-font-size;
    font-style: @quote-font-font-style;
    font-weight: @quote-font-font-weight;
    letter-spacing: @quote-font-letter-spacing;
    line-height: @quote-font-line-height;
    text-decoration: @quote-font-text-decoration;
    text-transform: @quote-font-text-transform;
}

/*
 * Summary Block
 */

@summaryHeadingColor: #666;

@summary-heading-font-font-family: futura-pt, sans-serif;
@summary-heading-font-font-size: inherit;
@summary-heading-font-font-style: normal;
@summary-heading-font-font-weight: 400;
@summary-heading-font-letter-spacing: 1px;
@summary-heading-font-line-height: inherit;
@summary-heading-font-text-decoration: inherit;
@summary-heading-font-text-transform: uppercase;

.summary-heading-font {
    font-family: @summary-heading-font-font-family;
    font-size: @summary-heading-font-font-size;
    font-style: @summary-heading-font-font-style;
    font-weight: @summary-heading-font-font-weight;
    letter-spacing: @summary-heading-font-letter-spacing;
    line-height: @summary-heading-font-line-height;
    text-decoration: @summary-heading-font-text-decoration;
    text-transform: @summary-heading-font-text-transform;
}

/*
 * Sidebar
 */

@subNavTitleColor: rgba(61, 153, 145, 1);
@subNavLinkColor: rgba(26, 26, 26, 0.4);
@subNavActiveColor: rgba(61, 153, 145, 1);

@subnav-title-font-font-family: adobe-garamond-pro, serif;
@subnav-title-font-font-size: 22px;
@subnav-title-font-font-style: normal;
@subnav-title-font-font-weight: 400;
@subnav-title-font-letter-spacing: 0;
@subnav-title-font-line-height: inherit;
@subnav-title-font-text-decoration: none;
@subnav-title-font-text-transform: none;

.subnav-title-font {
    font-family: @subnav-title-font-font-family;
    font-size: @subnav-title-font-font-size;
    font-style: @subnav-title-font-font-style;
    font-weight: @subnav-title-font-font-weight;
    letter-spacing: @subnav-title-font-letter-spacing;
    line-height: @subnav-title-font-line-height;
    text-decoration: @subnav-title-font-text-decoration;
    text-transform: @subnav-title-font-text-transform;
}

@subnav-link-font-font-family: futura-pt, sans-serif;
@subnav-link-font-font-size: 14px;
@subnav-link-font-font-style: normal;
@subnav-link-font-font-weight: 600;
@subnav-link-font-letter-spacing: 2px;
@subnav-link-font-line-height: inherit;
@subnav-link-font-text-decoration: none;
@subnav-link-font-text-transform: uppercase;

.subnav-link-font {
    font-family: @subnav-link-font-font-family;
    font-size: @subnav-link-font-font-size;
    font-style: @subnav-link-font-font-style;
    font-weight: @subnav-link-font-font-weight;
    letter-spacing: @subnav-link-font-letter-spacing;
    line-height: @subnav-link-font-line-height;
    text-decoration: @subnav-link-font-text-decoration;
    text-transform: @subnav-link-font-text-transform;
}

/*
 * PreFooter
 */

@preFooterBgColor: rgb(255, 255, 255);
@preFooterTextColor: rgb(31, 31, 31);

/*
 * Footer
 */

@footerBgColor: #f7f7f7;
@footerTextColor: #000000;
@footerNavLinkColor: #000000;
@footerNavActiveColor: #000000;
@siteInfoColor: #000000;

@footer-nav-font-font-family: futura-pt, sans-serif;
@footer-nav-font-font-size: 13px;
@footer-nav-font-font-style: normal;
@footer-nav-font-font-weight: 400;
@footer-nav-font-letter-spacing: 2px;
@footer-nav-font-line-height: inherit;
@footer-nav-font-text-decoration: none;
@footar-nav-font-text-transform: uppercase;

.footer-nav-font {
    font-family: @footer-nav-font-font-family;
    font-size: @footer-nav-font-font-size;
    font-style: @footer-nav-font-font-style;
    font-weight: @footer-nav-font-font-weight;
    letter-spacing: @footer-nav-font-letter-spacing;
    line-height: @footer-nav-font-line-height;
    text-decoration: @footer-nav-font-text-decoration;
    text-transform: @footer-nav-font-text-transform;
}

@site-info-font-font-family: futura-pt, sans-serif;
@site-info-font-font-size: 14px;
@site-info-font-font-style: normal;
@site-info-font-font-weight: 400;
@site-info-font-letter-spacing: 2px;
@site-info-font-line-height: inherit;
@site-info-font-text-decoration: none;
@site-info-font-text-transform: uppercase;

.site-info-font {
    font-family: @site-info-font-font-family;
    font-size: @site-info-font-font-size;
    font-style: @site-info-font-font-style;
    font-weight: @site-info-font-font-weight;
    letter-spacing: @site-info-font-letter-spacing;
    line-height: @site-info-font-line-height;
    text-decoration: @site-info-font-text-decoration;
    text-transform: @site-info-font-text-transform;
}
