
/*
 * Header
 */

@headerBgColor: #fff;
@logoContainerWidth: 500px;

/*
 * Navigation
 */

@navColor: #aaa;
@navActiveColor: rgba(61,153,145,1);

.nav-font {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

/*
 * Banner
 */

@bannerHeadingColor: rgba(255,255,255,1);
@overlayColor: rgba(0, 0, 0, 0.3);
@bannerTextColor: rgba(255,255,255,1);
@bannerButtonColor: rgba(54,179,168,1);
@bannerButtonTextColor: rgba(255,255,255,1);

.banner-heading-font {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 68px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1em;
}

.banner-text-font {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: none;
  line-height: 1.5em;
}

.banner-button-font {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

/*
 * Main Content
 */

@pageBgColor: rgba(255,255,255,1);
@pageTextColor: rgba(26,26,26,0.7);
@pageLinkColor: rgba(61,153,145,1);
@pageMetaColor: rgba(26,26,26,0.4);
@heading1Color: rgba(26,26,26,0.9);
@heading2Color: rgba(74,74,74,1);
@heading3Color: rgba(26,26,26,0.9);
@quoteColor: #aaa;

.body-font {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.6em;
}

.heading1-font {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
}

.heading2-font {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.2em;
}

.heading3-font {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.2em;
}

.quote-font {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 27px;
  letter-spacing: 0px;
  line-height: 1.65em;
}

/*
 * Summary Block
 */

@summaryHeadingColor: #666;

.summary-heading-font {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*
 * Sidebar
 */

@subNavTitleColor: rgba(61,153,145,1);
@subNavLinkColor: rgba(26,26,26,0.4);
@subNavActiveColor: rgba(61,153,145,1);

.subnav-title-font {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0px;
  text-transform: none;
  text-decoration: none;
}

.subnav-link-font {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

/*
 * PreFooter
 */

@preFooterBgColor: rgb(255,255,255);
@preFooterTextColor: rgb(31,31,31);

/*
 * Footer
 */

@footerBgColor: #f7f7f7;
@footerTextColor: #000000;
@footerNavLinkColor: #000000;
@footerNavActiveColor: #000000;
@siteInfoColor: #000000;

.footer-nav-font {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-info-font {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

